


%nav{:class => "index-nav"}
  .container
    %navbar-brand
    %h{:class => "nav-header"} Exams-for-Geeks
    %a{:href => "", :class=> "sign"} Signup
    %br
      %a{:href => "", :class => "sign"} Login
#myModal.modal.fade.bs-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-md
    .modal-content
      %br
        .modal-body
          #myTabContent.tab-content
        .modal-footer


